docs/

.env
.venv/
__pycache__/
.pytest_cache/
*.py[cod]
*.egg-info/
*.tsbuildinfo

node_modules/
dist/
frontend/dist/
frontend/vite.config.d.ts
frontend/vite.config.js

storage/*
!storage/.gitkeep
!storage/files/
!storage/files/.gitkeep
*.log
